<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Team Page</title>
</head>
<body>
    <h1>The creative crew</h1>

    <section>
        <h2>Who we are</h2>
        <p>We are team of creatively diverse.  driven.  innovative individuals working in various locations from the world.</p>
    </section>
    
    <section>
        <article>
            <img src="../assets/photo1.png">
            <span>Product owner</span>
        </article>
        <h3>Bill Mahoney</h3>
    </section>
    <section>
        <article>
            <img src="../assets/photo2.png">
            <span>Art director</span>
        </article>
        <h3>John Doe</h3>
    </section>
    <section>
        <article>
            <img src="../assets/photo3.png">
            <span>Tech Lead</span>
        </article>
        <h3>Shae Le</h3>
    </section>
    <section>
        <article>
            <img src="../assets/photo4.png">
            <span>UX Designer</span>
        </article>
        <h3>Jack Doe</h3>
    </section>
    <section>
        <article>
            <img src="../assets/photo5.png">
            <span>Developer</span>
        </article>
        <h3>Griff Richards</h3>
    </section>
    <section>
        <article>
            <img src="../assets/photo6.png">
            <span>Developer</span>
        </article>
        <h3>Stan John</h3>
    </section>
    
    <footer>created by <span>Haitham Estetieh</span> - devChallenges.io</footer>
</body>
</html>