h1 {
    font-family: "PT Serif";
    font-weight: 700;
    font-size: 31px;
}

.font-poppins {
    font-family: "Poppins";
}

.font-poppins > h2 {
    font-weight: 600;
}

.font-poppins > p {
    font-weight: 400;
    width: 90%;
    text-align: justify;
}

#person1 {
    width: 156px;
    height: 237px;
}

#person2 {
    width: 157px;
    height: 237px;
}

#person3 {
    width: 154px;
    height: 247px;
}

#person4 {
    width: 154px;
    height: 248px;
}

#person5 {
    width: 154px;
    height: 261px;
}

#person6 {
    width: 155px;
    height: 255px;
}

.personWrapper {
    display: flex;
    flex-direction: column;
}

.personWrapper > article > span {
    display: inline-block;
    writing-mode: vertical-rl;
    font-family: 'PT Serif';
}

h3 { 
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 14px;
}

footer {
    color: #A9A9A9;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

footer > span {
    text-decoration: underline;
    font-weight: 700;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    margin-top: 70px;
}

.marginTop-50_min-width-500 {
    margin-top: 50px;
}

@media only screen and (min-width: 501px) {  
    body {
      margin-left: 5%;
    }

    header {
      display: flex;
      flex-direction: row;
    }

    header > h1,
    header > section {
      width: 100%;
    }

    main {
      grid-template-columns: auto auto auto;
    }

    .marginTop-50_min-width-500 {
      margin-top: 0px;
    }

    .marginTop-50_min-width-501 {
      margin-top: 50px;
    }

    .marginTop-75_min-width-501 {
        margin-top: 75px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 999px) {
    main,
    h1 {
        margin-left: 5%;
    }

    .font-poppins > p {
        width: 80%;
    }
}

@media only screen and (min-width: 1000px) {
    main, 
    h1 {
        margin-left: 8%;
    }

    .font-poppins > p {
        width: 70%;
    }   
}
